In [190]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text
from sqlalchemy.orm import sessionmaker

In [191]:
engine = create_engine("mysql+pymysql://root:123456@localhost:3306/spiders", echo=True)
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

C:\Users\18098\AppData\Local\Temp\ipykernel_17244\2236555189.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [192]:
class User(Base):
    __tablename__ = "user"
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(20), default=None, nullable=False, comment='用户姓名', unique=False)
    phone = Column(Text, default=None, nullable=True, comment="用户电话")
    weight = Column(Float, default=50, nullable=False, comment="用户体重" )

    def _rerf_(self):
        Name = self.name
        Phone = self.phone
        Weight = self.weight
        return f"User: name: {Name}, phone: {Phone}, weight: {Weight}"

In [193]:
User.__table__

Table('user', MetaData(), Column('id', Integer(), table=<user>, primary_key=True, nullable=False), Column('name', String(length=20), table=<user>, nullable=False, comment='用户姓名'), Column('phone', Text(), table=<user>, comment='用户电话'), Column('weight', Float(), table=<user>, nullable=False, default=ScalarElementColumnDefault(50), comment='用户体重'), schema=None)

In [194]:
Base.metadata.create_all(engine)

2023-09-15 21:31:53,956 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-15 21:31:53,957 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:53,960 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-15 21:31:53,961 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:53,962 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-15 21:31:53,963 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:53,964 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:53,965 INFO sqlalchemy.engine.Engine DESCRIBE `spiders`.`user`
2023-09-15 21:31:53,966 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:53,974 INFO sqlalchemy.engine.Engine COMMIT

In [195]:
NewUser = User(name='Gowther', phone='123456', weight=55.55)

In [196]:
session.add(NewUser)
session.commit()

2023-09-15 21:31:54,015 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,019 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, weight) VALUES (%(name)s, %(phone)s, %(weight)s)
2023-09-15 21:31:54,020 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {'name': 'Gowther', 'phone': '123456', 'weight': 55.55}
2023-09-15 21:31:54,023 INFO sqlalchemy.engine.Engine COMMIT

In [197]:
SomeUsers = [User(name='Holf',phone='11111', weight=50.01), User(name='Julie', phone='22222222', weight=39.99)]
session.add_all(SomeUsers)
session.commit()

2023-09-15 21:31:54,048 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,050 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, weight) VALUES (%(name)s, %(phone)s, %(weight)s)
2023-09-15 21:31:54,050 INFO sqlalchemy.engine.Engine [cached since 0.03276s ago] {'name': 'Holf', 'phone': '11111', 'weight': 50.01}
2023-09-15 21:31:54,053 INFO sqlalchemy.engine.Engine INSERT INTO user (name, phone, weight) VALUES (%(name)s, %(phone)s, %(weight)s)
2023-09-15 21:31:54,054 INFO sqlalchemy.engine.Engine [cached since 0.03575s ago] {'name': 'Julie', 'phone': '22222222', 'weight': 39.99}
2023-09-15 21:31:54,057 INFO sqlalchemy.engine.Engine COMMIT

In [198]:
result = session.query(User).all()

print(f"{'name':15} | {'phone':15} | {'weight':15}")

for i in result:
    print(f"{i.name:15} | {i.phone:15} | {i.weight:<15}")

2023-09-15 21:31:54,079 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,082 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
2023-09-15 21:31:54,083 INFO sqlalchemy.engine.Engine [generated in 0.00131s] {}
name            | phone           | weight
Holf            | 11111           | 50.01
Julie           | 22222222        | 39.99
Holf            | 11111           | 50.01
Julie           | 22222222        | 39.99
Gowther         | 123456          | 55.55
John            | 123456789       | 70.5
John            | 123456789       | 70.5
John            | 123456789       | 70.5
John            | 123456789       | 70.5
Alice           | 987654321       | 65.2
Bob             | 555555555       | 80.0
Gowther         | 123456          | 55.55
Holf            | 11111           | 50.01
Julie           | 22222222        | 39.99

In [199]:
# 设置一个不显示操作日志的接口，让输出更整洁
engine2 = create_engine("mysql+pymysql://root:123456@localhost:3306/spiders", echo=False)
Session2 = sessionmaker(bind=engine2)
session2 = Session2()

# 添加filter条件
result = session2.query(User).filter(User.name!='Gowther')
print(f"{'name':^15} | {'phone':^15} | {'weight':^15}")
for i in result:
    print(f"{i.name:^15} | {i.phone:^15} | {i.weight:^15}")

     name       |      phone      |     weight
     Holf       |      11111      |      50.01
     Julie      |    22222222     |      39.99
     Holf       |      11111      |      50.01
     Julie      |    22222222     |      39.99
     John       |    123456789    |      70.5
     John       |    123456789    |      70.5
     John       |    123456789    |      70.5
     John       |    123456789    |      70.5
     Alice      |    987654321    |      65.2
      Bob       |    555555555    |      80.0
     Holf       |      11111      |      50.01
     Julie      |    22222222     |      39.99

In [200]:
result = session.query(User).filter(User.name=='Gowther').first()
result.weight = 999
session.add(result)
session.commit()

2023-09-15 21:31:54,147 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.name = %(name_1)s
 LIMIT %(param_1)s
2023-09-15 21:31:54,150 INFO sqlalchemy.engine.Engine [generated in 0.00426s] {'name_1': 'Gowther', 'param_1': 1}
2023-09-15 21:31:54,158 INFO sqlalchemy.engine.Engine UPDATE user SET weight=%(weight)s WHERE user.id = %(user_id)s
2023-09-15 21:31:54,160 INFO sqlalchemy.engine.Engine [generated in 0.00136s] {'weight': 999, 'user_id': 10}
2023-09-15 21:31:54,162 INFO sqlalchemy.engine.Engine COMMIT

In [201]:
result = session2.query(User).filter(User.name=='Gowther')
for i in result:
    print(i.name, i.weight)

Gowther 55.55
Gowther 55.55

In [202]:
result = session.query(User).filter(User.name=='Gowther').all()
for i in result:
    print(i.name, i.weight)

2023-09-15 21:31:54,218 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,220 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.name = %(name_1)s
2023-09-15 21:31:54,221 INFO sqlalchemy.engine.Engine [generated in 0.00110s] {'name_1': 'Gowther'}
Gowther 999.0
Gowther 55.55

In [203]:
session2 = Session(bind=engine)
result = session2.query(User).filter(User.name=='Gowther').all()
for i in result:
    print(i.name, i.weight)

2023-09-15 21:31:54,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,245 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.name = %(name_1)s
2023-09-15 21:31:54,247 INFO sqlalchemy.engine.Engine [cached since 0.0265s ago] {'name_1': 'Gowther'}
Gowther 999.0
Gowther 55.55

In [204]:
result = session.query(User).filter(User.name=='Gowther').first()
session.delete(result)
session.commit()

2023-09-15 21:31:54,265 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.name = %(name_1)s
 LIMIT %(param_1)s
2023-09-15 21:31:54,267 INFO sqlalchemy.engine.Engine [cached since 0.1204s ago] {'name_1': 'Gowther', 'param_1': 1}
2023-09-15 21:31:54,273 INFO sqlalchemy.engine.Engine DELETE FROM user WHERE user.id = %(id)s
2023-09-15 21:31:54,277 INFO sqlalchemy.engine.Engine [generated in 0.00436s] {'id': 10}
2023-09-15 21:31:54,281 INFO sqlalchemy.engine.Engine COMMIT

In [205]:
result = session.query(User).filter(User.name=='Gowther').all()
for i in result:
    print(f'name: {i.name}, phone: {i.phone}, weight: {i.weight}')

2023-09-15 21:31:54,297 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,298 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.name = %(name_1)s
2023-09-15 21:31:54,299 INFO sqlalchemy.engine.Engine [cached since 0.07984s ago] {'name_1': 'Gowther'}
name: Gowther, phone: 123456, weight: 55.55

In [206]:
# and 运算符
result1 = session.query(User).filter(User.id > 10 , User.name == 'Gowther').first()
print(result1.id, result1.name)

result2 = session.query(User).filter(User.id > 10).filter(User.name == 'Gowther').first()
print(result1.id, result1.name)

from sqlalchemy import and_
result3 = session.query(User).filter(and_(User.id > 10, User.name =='Gowther')).first()
print(result3.id, result3.name)

2023-09-15 21:31:54,331 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.id > %(id_1)s AND user.name = %(name_1)s
 LIMIT %(param_1)s
2023-09-15 21:31:54,333 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {'id_1': 10, 'name_1': 'Gowther', 'param_1': 1}
60 Gowther
2023-09-15 21:31:54,337 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.id > %(id_1)s AND user.name = %(name_1)s
 LIMIT %(param_1)s
2023-09-15 21:31:54,337 INFO sqlalchemy.engine.Engine [cached since 0.006576s ago] {'id_1': 10, 'name_1': 'Gowther', 'param_1': 1}
60 Gowther
2023-09-15 21:31:54,343 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.id > %(id_1)s AND user.name = %(name_1)s
 LIMIT %(param_1)s
2023-09-15 21:31:54,343 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {'id_1': 10, 'name_1': 'Gowther', 'param_1': 1}
60 Gowther

In [207]:
from sqlalchemy import or_
result4 = session.query(User).filter(or_(User.id > 10, User.name =='Gowther')).first()
print(result4.id, result4.name)

2023-09-15 21:31:54,359 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.id > %(id_1)s OR user.name = %(name_1)s
 LIMIT %(param_1)s
2023-09-15 21:31:54,361 INFO sqlalchemy.engine.Engine [generated in 0.00227s] {'id_1': 10, 'name_1': 'Gowther', 'param_1': 1}
54 John

In [208]:
result5 = session.query(User).filter(User.name.like("%wt%")).first()
print(result5.id, result5.name)

2023-09-15 21:31:54,392 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.name LIKE %(name_1)s
 LIMIT %(param_1)s
2023-09-15 21:31:54,394 INFO sqlalchemy.engine.Engine [generated in 0.00279s] {'name_1': '%wt%', 'param_1': 1}
60 Gowther

In [209]:
result6 = session.query(User).filter(User.name.in_(['Gowther', 'Holf'])).all()
for i in result6:
    print(i.id, i.name)

2023-09-15 21:31:54,435 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE user.name IN (%(name_1_1)s, %(name_1_2)s)
2023-09-15 21:31:54,436 INFO sqlalchemy.engine.Engine [generated in 0.00169s] {'name_1_1': 'Gowther', 'name_1_2': 'Holf'}
5 Holf
8 Holf
60 Gowther
61 Holf

In [210]:
result7 = session.query(User).filter(~User.name.in_(['Gowther', 'Holf'])).all()
for i in result7:
    print(i.id, i.name)

2023-09-15 21:31:54,453 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE (user.name NOT IN (%(name_1_1)s, %(name_1_2)s))
2023-09-15 21:31:54,455 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {'name_1_1': 'Gowther', 'name_1_2': 'Holf'}
6 Julie
9 Julie
54 John
55 John
56 John
57 John
58 Alice
59 Bob
62 Julie

In [211]:
from sqlalchemy import text

result = session.query(User).filter(text("name = 'Gowther'")).first()
print(result.name, result.weight)

2023-09-15 21:31:54,484 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE name = 'Gowther'
 LIMIT %(param_1)s
2023-09-15 21:31:54,485 INFO sqlalchemy.engine.Engine [generated in 0.00094s] {'param_1': 1}
Gowther 55.55

In [212]:
result = session.query(User).filter(text("name like '%he%'")).first()
print(result.name, result.weight)

2023-09-15 21:31:54,500 INFO sqlalchemy.engine.Engine SELECT user.id AS user_id, user.name AS user_name, user.phone AS user_phone, user.weight AS user_weight
FROM user
WHERE name like '%%he%%'
 LIMIT %(param_1)s
2023-09-15 21:31:54,502 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {'param_1': 1}
Gowther 55.55

In [213]:
sql = 'select * from user;'

engine = get_engine()
with engine.connect() as conn:
    result = conn.execute(text(sql))

for i in result:
    print(i.id, i.name, i.weight)

2023-09-15 21:31:54,543 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-15 21:31:54,544 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:54,547 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-15 21:31:54,550 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:54,551 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-15 21:31:54,552 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:54,554 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,555 INFO sqlalchemy.engine.Engine select * from user;
2023-09-15 21:31:54,557 INFO sqlalchemy.engine.Engine [generated in 0.00272s] {}
2023-09-15 21:31:54,560 INFO sqlalchemy.engine.Engine ROLLBACK
5 Holf 50.01
6 Julie 39.99
8 Holf 50.01
9 Julie 39.99
54 John 70.5
55 John 70.5
56 John 70.5
57 John 70.5
58 Alice 65.2
59 Bob 80.0
60 Gowther 55.55
61 Holf 50.01
62 Julie 39.99

In [214]:
import pandas as pd

data = {
    # 'id': [1, 2, 3],
    'name': ['John', 'Alice', 'Bob'],
    'phone': ['123456789', '987654321', '555555555'],
    'weight': [70.5, 65.2, 80.0]
}

df = pd.DataFrame(data)
# df['id'] = df['id'].astype(int)
df['name'] = df['name'].astype(str)
df['phone'] = df['phone'].astype(str)
df['weight'] = df['weight'].astype(float)

In [215]:
def SaveData(table, DataFrame):
    records = DataFrame.to_dict('records')
    try:
        engine = get_engine()  # 在这里我将创建 Engine 的方法封装成get_engine()方法
        with engine.connect() as conn:
            for record in records:
                sqlSet = ','.join([key+'='+(str(value) if type(value) == 'int' else f"'{value}'") for key, value in record.items()])
                sqlInsert = f"insert into {table} set {sqlSet} on duplicate key update {sqlSet};"
                conn.execute(text(sqlInsert))
            conn.commit()
        return True, "数据保存/更新成功"
    except Exception as e:
        return False, f"数据保存/更新失败! err: {e}"
    
def get_engine():
    engine = create_engine("mysql+pymysql://root:123456@localhost:3306/spiders", echo=True)
    return engine

In [216]:
user = 'user'
SaveData(user, df)

2023-09-15 21:31:54,614 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-15 21:31:54,615 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:54,617 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-15 21:31:54,618 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:54,620 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-15 21:31:54,621 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-15 21:31:54,624 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-15 21:31:54,626 INFO sqlalchemy.engine.Engine insert into user set name='John',phone='123456789',weight='70.5' on duplicate key update name='John',phone='123456789',weight='70.5';
2023-09-15 21:31:54,627 INFO sqlalchemy.engine.Engine [generated in 0.00225s] {}
2023-09-15 21:31:54,630 INFO sqlalchemy.engine.Engine insert into user set name='Alice',phone='987654321',weight='65.2' on duplicate key update name='Alice',phone='987654321',weight='65.2';
2023-09-15 21:31:54,631 INFO sqlalchemy.engine.Engine [generated in 0.00129s] {}
2023-09-15 21:31:54,633 INFO sqlalchemy.engine.Engine insert into user set name='Bob',phone='555555555',weight='80.0' on duplicate key update name='Bob',phone='555555555',weight='80.0';
2023-09-15 21:31:54,634 INFO sqlalchemy.engine.Engine [generated in 0.00108s] {}
2023-09-15 21:31:54,635 INFO sqlalchemy.engine.Engine COMMIT

(True, '数据保存/更新成功')